@font-face {
  font-family: "Pretendard-Bold";
  font-weight: 900;
  letter-spacing: 0.3px;
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
}
@font-face {
  font-family: "Pretendard-Bold2";
  font-weight: 800;
  letter-spacing: 0.3px;
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: "Pretendard-Semibold";
  font-weight: 700;
  letter-spacing: 0.3px;
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}
@font-face {
  font-family: "Pretendard-Semibold2";
  font-weight: 600;
  letter-spacing: 0.3px;
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
  font-family: "Pretendard-Semibold3";
  font-weight: 500;
  letter-spacing: 0.3px;
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}
@font-face {
  font-family: "Pretendard-regular";
  font-weight: 400;
  letter-spacing: 0.3px;
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
@font-face {
  font-family: "Pretendard-regular2";
  font-weight: 300;
  letter-spacing: 0.3px;
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
}
@font-face {
  font-family: "Pretendard-Thin";
  font-weight: 200;
  letter-spacing: 0.3px;
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
}
@font-face {
  font-family: "Pretendard-Thin2";
  font-weight: 100;
  letter-spacing: 0.3px;
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
}

@font-face {
font-family: 'Shilla_CultureB-Bold';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
font-weight: 700;
font-style: normal;
}

/* typing */
/* #type p::after {
content: "|";
right: 0;
color:#ffffff;
animation: caret .8s infinite;
}


@keyframes caret {
50% {
  opacity:0;
}
} */

body{
margin:0;
background-color: black;
}

/* main_img */
.main{
text-align: center;
padding: 20px;
}
.main_img{
height:500px;
background-image: url(//images/with_01.jpeg);
background-size: cover;
}
.typing-effect{font-family: 'Shilla_CultureB-Bold';}

/* typing effect */

.typing-effect {
  font-family: 'Shilla_CultureB-Bold', Arial, sans-serif;
  font-size: 44px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid rgba(0, 0, 0, 0.75);
  width: 0;
  animation: typing 3s steps(30, end), blink 0.5s step-end infinite alternate;
  margin: 20px;
  display: inline;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: rgb(255, 255, 255);
  }
  to {
    border-color: transparent;
  }
}

/* header */
.top{text-align: left;margin: 0;}
.top .one {padding-top:80px;}

ul,li {list-style:none;padding: 0;margin: 0;letter-spacing: -1px;}
#top{margin:0;}
p,div,li {font-family: 'Pretendard-regular'; color:white;}
.page_1 li,p {margin: 3px 20px;font-size: 45px; letter-spacing: -1px;}
/* .page_1{height:600px;} */
.gra_1{font-family: 'Pretendard-Semibold2';
  background-image: linear-gradient(to right, rgb(205, 205, 143), white);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
}
.gra_2{font-family: 'Pretendard-Semibold2';
  background-image: linear-gradient(to right, rgb(205, 205, 143), rgb(3, 218, 251));
background-clip: text;
-webkit-background-clip: text;
color: transparent;
}
.white_1{font-family: 'Pretendard-Semibold2';}

/* page_1 */
.ban{mix-blend-mode: difference; font-weight: 600;padding-top:100.9px;font-size: 40px;font-family: "Pretendard-Semibold2";}
.back_w{background-color: white;height: 140px;margin-top: 100px;}
.img_box{text-align: center;}
.img_1{width:90%;padding-top: 40px;}
.white_2{font-size: 32px;font-family: 'Pretendard-Semibold3';}
.blue_1{color:rgb(0, 255, 234); font-family: 'Pretendard-Semibold3';font-size: 32px;}
.white_3{font-family: 'Pretendard-Thin';font-size: 20px;}

/* page_2 */
.groom_1{height:470px}
.right{float: right;}
.left{float: left;}
.page_3 .white_4 , .page_2 .white_4{font-family: 'Pretendard-Thin';font-size: 22px;margin-top: 45px;}
.white_5{font-family: 'Pretendard-Semibold';font-size: 30px;}
.groom_img{width:60%;float: right;padding: 15px 20px;}
.groom_img img{width:100%}
.with_txt {text-align: center;padding-bottom: 50px;}
.with_txt p{font-family: 'Pretendard-Thin'; font-size: 15px;font-style: italic;padding:2.5px}
.with_il{text-align: center;padding: 20px 0;}
.white_6{font-family: 'Pretendard-regular'; font-size: 15px;}
.gra_3{font-family: 'Pretendard-Bold';
  background-image: linear-gradient(to right, rgb(205, 205, 143), rgb(3, 231, 251));
background-clip: text;
-webkit-background-clip: text;
color: transparent;}
.with_year{text-align: center; font-family: 'Pretendard-Thin2';font-size: 14px;}
.with_year ul{padding: 0; margin: 0;}
.with_year ul li {list-style: none;padding: 3px; font-family: 'Pretendard-Thin2';}

/* page_3 */

.bride_1{height: 470px;}
.left{float: left;}
.bride_img{width:60%;float: left;padding: 15px 20px;}
.bride_img img{width:100%}

/* page_4 */
.info_1{padding-top: 65px;}
.page_4 .white_4{font-family: 'Pretendard-Thin'; font-size: 22px;}
.white_6{font-size: 15px; font-family: 'Pretendard-Thin2';}

/* 타이핑효과 */

/* 깜빡임 효과 */
@keyframes blink {
0% {
  opacity: 1;
}
50% {
  opacity: 0.4;
}
100% {
  opacity: 1;
}
}

.twinkle {
animation: blink 0.5s infinite; /* 1초 간격으로 무한 반복 */
}

/* map */
.map{text-align: center;}


/* 스크롤 애니메이션 */
/* 애니메이션 */

.fadeinleft {
opacity:0;
margin-bottom:-100px;
max-width:100%;
}

.scroll_on.type_bottom {transform: translate(0, 150px);}
.content { position: relative; animation: fade_up 1s; opacity: 0; margin-bottom: -200px;}

/* @keyframes fade_up {
0% {opacity: 0; transform: translateY(100%); }
to {opacity: 1; transform: translateY(0); }
} */

/* photo img */

/* popUp css */

.gallery {
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;
}

.gallery img {
  width:30%;
  padding: 2px;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent scrolling in modal */
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  object-fit: contain; /* Ensures image stays within bounds and centered */
}

body.modal-open {
  overflow: hidden; /* Prevent body scrolling */
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  cursor: pointer;
  user-select: none;
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

/* 계좌, 메세지 추가 */
.account {
  padding: 20px;
}

.account button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.account button:hover {
  background-color: #0056b3;
}

.message {
  padding: 20px;
}

.message textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.message button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #28A745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.message button:hover {
  background-color: #218838;
}

.fade-in {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* player */
#player {
 display: none;
}
